* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Segoe UI;
  font-size: 16px;
  line-height: 1.5;
  background-color: #f9f9f9;
  text-align: justify;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 10px auto;
  padding: 20px;
  position: relative;
  padding-bottom: 60px;
}
.navbar {
  /*background-color: #333;
  width: 300px; /* Increase the height to 80 pixels */
  overflow: hidden;*/
}


header {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  width: 350px;
  height: 100vh;
  background-color: #C9EAD0;
  color: #008000;
  position: fixed;
  top: 0;
  left: 0;
}

h1, h2 {
  margin-bottom: 10px;
}

nav {
  margin-top: 20px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  margin-bottom: 10px;
}

nav a {
  display: inline;
  padding: 10px 20px;
  background-color: #fff;
  color: #ff0000;
  text-decoration: none;
  border-radius: 10px;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

nav a:hover {
  background-color: #fff;
  color: #ff0000;
}

main {
  margin-left: 250px;
  padding: 40px;
}

.profile-photo {
  width: 350px;
  border-radius: 0;
  object-fit: contain;
  object-position: top;
  margin-bottom: 20px;
}

.profile-iitmlogo {
  max-height: 60px;
  border-radius: 50%;
  object-fit: contain;
  object-position: right;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .sidebar {
    float: left;
    width: 20%;
  }

  .main-content {
    float: left;
    width: 80%;
  }

  .profile-photo {
    width: 350px;
    margin: 0 auto;
    display: block;
    border-radius: 0%;
    object-fit: contain;
    object-position: top;
    margin-bottom: 20px;
  }

  .profile-iitmlogo {
    max-height: 100px;
    border-radius: 50%;
    object-fit: contain;
    object-position: right;
    margin-bottom: 20px;
  }
  .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  padding-bottom: 60px;
}
  header {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  width: 350px;
  height: 100vh;
  background-color: #C9EAD0;
  color: #008000;
  position: fixed;
  top: 0;
  left: 0;
}

main {
  margin-left: 350px;
  padding: 40px;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    text-align: right;
  }
}


section {
  margin-bottom: 40px;
}

h3 {
  margin-bottom: 20px;
}

ul {
  list-style: disc;
  padding-left: 20px;
}

li {
  margin-bottom: 10px;
}

footer {
  text-align: right;
  padding: 20px;
  position: absolute;
  bottom: 0;
}
@media (max-width: 600px) {
  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    text-align: right;
  }
  body {
  font-family: Segoe UI;
  font-size: 12px;
  line-height: 1;
  background-color: #f9f9f9;
  text-align: justify;
  }

  main {
  margin-left: 250px;
  padding: 40px;
  margin-bottom: 60px; /* leaves space for footer*/
  }
  
 header {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  width: 250px;
  height: 100vh;
  background-color: #C9EAD0;
  color: #008000;
  position: fixed;
  top: 0;
  left: 0;
 }
.profile-photo {
    width: 250px;
    margin: 0 auto;
    display: block;
    border-radius: 0%;
    object-fit: contain;
    object-position: top;
    margin-bottom: 20px;
  }

}
