* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #f9f9f9;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  padding-bottom: 60px;
}
.navbar {
  /*background-color: #333;
  width: 300px; /* Increase the height to 80 pixels */
  overflow: hidden;*/
}


header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 100vh;
  background-color: #3f51b5;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
}

/*.profile-photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
}*/

h1, h2 {
  margin-bottom: 10px;
}

nav {
  margin-top: 20px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  margin-bottom: 10px;
}

nav a {
  display: block;
  padding: 10px 20px;
  background-color: #fff;
  color: #3f51b5;
  text-decoration: none;
  border-radius: 10px;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

nav a:hover {
  background-color: #3f51b5;
  color: #fff;
}

main {
  margin-left: 250px;
  padding: 40px;
}

.profile-photo {
  width: 230px;
  height: 230px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  margin-bottom: 20px;
}

.profile-iitmlogo {
  max-width: 60px;
  max-height: 60px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .sidebar {
    float: left;
    width: 20%;
  }

  .main-content {
    float: left;
    width: 80%;
  }

  .profile-photo {
    width: 340px;
    height: 340px;
    margin: 0 auto;
    display: block;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    margin-bottom: 20px;
  }

  .profile-iitmlogo {
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    margin-bottom: 20px;
  }
  .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  padding-bottom: 60px;
}
  header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 100vh;
  background-color: #3f51b5;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
}

main {
  margin-left: 350px;
  padding: 40px;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    text-align: right;
  }
}


section {
  margin-bottom: 40px;
}

h3 {
  margin-bottom: 20px;
}

ul {
  list-style: disc;
  padding-left: 20px;
}

li {
  margin-bottom: 10px;
}

form label {
  display: block;
  margin-bottom: 10px;
}

form input, form textarea {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  margin-bottom: 20px;
}

form button {
  padding: 10px 20px;
  background-color: #3f51b5;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

form button:hover {
  background-color: #fff;
  color: #3f51b5;
}

footer {
  text-align: right;
  padding: 20px;
  position: absolute;
  bottom: 0;
}
@media (max-width: 600px) {
  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    text-align: right;
  }

  main {
  margin-left: 250px;
  padding: 40px;
  margin-bottom: 60px; /* leaves space for footer*/
}
 header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 100vh;
  background-color: #3f51b5;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
/*  margin-bottom: 20px;*/

}